.header {
    background-color: $backgroundColor1;
}

.header-wrap {
    width: 100%;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14%;
    position: relative;
}

.header-wrap__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-wrap__bar {
    display: none;
}

@media (max-width: 991px) {
    .header-wrap__bar {
        display: block;
        font-size: 24px;
        z-index: 3;
    }

    .header-wrap__content {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        top: 0;
        right: -60%;
        height: 100vh;
        width: 60%;
        background-color: #FFFFFF;
        z-index: 3;
        transition: all 0.5s ease-out;
    }

    .header-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-menu__item--active {
        border-radius: 10px;
        background-color: #34C635;
        width: 100%;

        &:before {
            display: none;
        }
    }
}

.show-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #333;
    z-index: 2;
    opacity: 0.5;
}

.show-menu {
    top: 0;
    right: 0%;
    opacity: 1;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

.header-menu {
    display: flex;
    gap: 30px;
    padding: 0 3px;
}

.header-menu__item {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7B88A8;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-icon {
    display: flex;
    gap: 20px;
    z-index: 9;
}

.header-menu__item--active {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2D3958;

    &:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #34C635;
        position: absolute;
        top: 18px;
    }
}

.header-icon__item {
    font-size: 24px;
    position: relative;
}

.header-icon__item--active {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #EF3737;
        position: absolute;
        left: 14px;
        top: 1px;
    }
}

.header-page {
    padding: 139px 0 203px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-page__title {
    font-size: 48px;
    font-family: $fontPrimary;
    font-weight: 500;
    color: #2D3958;
    letter-spacing: -2px;
}

.header-page__link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: $fontPrimary;
    text-transform: uppercase;
}

.home {
    color: #2D3958;
}